In [1]:
import quilt
quilt.install("santanche/testpandas")
from quilt.data.santanche import testpandas

Downloading package metadata...

  0%|          | 0.00/1.45k [00:00<?, ?B/s]

Downloading 1 fragments (1451 bytes before compression)...

100%|██████████| 1.45k/1.45k [00:00<00:00, 5.16kB/s]

In [2]:
testpandas

<GroupNode>
table

In [3]:
testpandas.table

In [4]:
testpandas.table()

   col1  col2
0     1     3
1     2     4